Repository bem/bem-react: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, prettier --write --parser markdown, prettier --write --parser json

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "prettier --write",
    "git add"
  ],
  "*.md": [
    "prettier --write --parser markdown",
    "git add"
  ],
  "*.json": [
    "prettier --write --parser json",
    "git add"
  ]
}

docs: update main readme
  README.md
Due: prettier --write --parser markdown

chore: remove legacy enzyme config
  enzyme.config.js
Due: prettier --write

chore: remove legacy tsconfig for testing
  tsconfig.test.json
Due: prettier --write --parser json

chore: remove tsconfig override from jest
  .config/jest/jest.config.js
  tsconfig.json
Due: prettier --write, prettier --write --parser json

chore: bootstrap monorepo after install
  package.json
Due: prettier --write --parser json

ci: remove lerna bootstrap from config
  .github/workflows/ci.yml
Due: none

chore: use type def for registries instead call generic
  packages/di/di.tsx
Due: prettier --write

ci: fix ci config
  .github/workflows/ci.yml
Due: none

chore: use eslint instead tslint
  .eslintignore
  .eslintrc.js
  .lintstagedrc
  package.json
  tslint.json
Due: prettier --write, prettier --write --parser json

ci: run eslint instead tslint
  .github/workflows/ci.yml
Due: none

chore: remove lint script from packages
  packages/classname/package.json
  packages/classnames/package.json
  packages/core/package.json
  packages/di/package.json
Due: prettier --write --parser json

style: fix eslint issues
  packages/classname/classname.tsx
  packages/core/core.tsx
  packages/core/test/compose.test.tsx
  packages/di/di.tsx
  packages/di/test/di.test.tsx
  packages/eslint-plugin/lib/rules/no-classname-runtime.js
  packages/eslint-plugin/lib/rules/whitelist-levels-imports.js
  scripts/commitlint.js
Due: prettier --write

chore: use json instead js for eslint config
  .eslintrc
  .eslintrc.js
Due: prettier --write

chore(classname): use ts ext instead tsx
  packages/classname/classname.ts
Due: prettier --write

chore(core): use ts ext instead tsx
  packages/core/core.ts
Due: prettier --write

test(core): improve compose units
  packages/core/test/compose.test.tsx
Due: prettier --write

perf(core): use arguments instead rest
  packages/core/core.ts
Due: prettier --write

chore(release): publish
  packages/classname/CHANGELOG.md
  packages/classname/package.json
  packages/classnames/CHANGELOG.md
  packages/classnames/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/di/CHANGELOG.md
  packages/di/package-lock.json
  packages/di/package.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
Due: prettier --write --parser markdown, prettier --write --parser json

build: add terser options for pretty uglify
  scripts/rollup/build.js
  scripts/rollup/terser.config.js
Due: prettier --write

chore: remove gitkeep from scripts folder
  scripts/.gitkeep
Due: none

docs: lazy modifiers
  website/docs/guides/lazy.md
Due: prettier --write --parser markdown
