Repository bem/bem-react: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, prettier --write --parser markdown, prettier --write --parser json

ci: add gh workflows instead travis
  .github/workflows/test.yml
  .travis.yml
Due: none

ci: add linters for ci
  .github/workflows/ci.yml
  scripts/commitlint.js
Due: prettier --write

ci: add tslint for ci
  .github/workflows/ci.yml
Due: none

style: fix tslint issues
  packages/classname/classname.tsx
  packages/di/di.tsx
Due: prettier --write

ci: add log for commit messages
  scripts/commitlint.js
Due: prettier --write

ci: add filter for empty commits
  scripts/commitlint.js
Due: prettier --write

style: fix code-style for ci config
  .github/workflows/ci.yml
Due: none

docs: fix repo name for license
  LICENSE.md
Due: prettier --write --parser markdown

docs: fix readme links
  README.md
Due: prettier --write --parser markdown

fix(di): fixes a way to extends components
  packages/di/di.tsx
  packages/di/test/di.test.tsx
Due: prettier --write

chore(release): publish
  packages/classname/CHANGELOG.md
  packages/classname/package.json
  packages/classnames/CHANGELOG.md
  packages/classnames/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/di/CHANGELOG.md
  packages/di/package-lock.json
  packages/di/package.json
Due: prettier --write --parser markdown, prettier --write --parser json

chore: use jest instead mocha
  .config/jest/jest.config.js
  .config/jest/jest.setup.js
  enzyme.config.js
  mocha.config.js
  mocha.opts
  package.json
  packages/classname/package.json
  packages/classnames/package.json
  packages/core/package.json
  packages/di/package.json
Due: prettier --write, prettier --write --parser json

ci: run unit from root instead each packages
  .github/workflows/ci.yml
Due: none

chore: use jest format for unit
  packages/classname/test/classname.test.ts
  packages/classnames/test/classnames.test.ts
  packages/core/test/compose.test.tsx
  packages/core/test/withBemMod.test.tsx
  packages/di/test/di.test.tsx
Due: prettier --write

chore: remove typedoc config
  typedoc.js
Due: prettier --write

perf(di): use for of loop instead forEach
  packages/di/di.tsx
Due: prettier --write

test(di): add unit for check passing props
  packages/di/test/di.test.tsx
Due: prettier --write

perf(di): use native createElement instead jsx
  packages/di/di.tsx
Due: prettier --write

style(di): fix code-style by prettier
  packages/di/test/di.test.tsx
Due: prettier --write

refactor(di): wrap set displayName only for dev mode
  packages/di/di.tsx
Due: prettier --write

refactor(di): cast arguments to array
  packages/di/di.tsx
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
