Repository bem/bem-react: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, prettier --write --parser markdown, prettier --write --parser json

fix: boolean mods createClassNameModfifier
  packages/core/core.ts
  packages/core/test/compose.test.tsx
Due: prettier --write, eslint --fix

chore(release): publish
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: prettier --write --parser markdown, prettier --write --parser json

feat: init kernel module
  packages/pack/interfaces.ts
  packages/pack/kernel.ts
Due: prettier --write, eslint --fix

chore: init package
  packages/pack/package.json
Due: prettier --write --parser json

feat: impl steps
  packages/pack/interfaces.ts
  packages/pack/kernel.ts
Due: prettier --write, eslint --fix

chore: add bin for runner
  packages/pack/package.json
Due: prettier --write --parser json

chore: use OnDone type for hook arg
  packages/pack/interfaces.ts
Due: prettier --write, eslint --fix

feat: impl CleanUpPlugin
  packages/pack/package-lock.json
  packages/pack/package.json
  packages/pack/plugins/CleanUpPlugin.ts
Due: prettier --write, eslint --fix, prettier --write --parser json

feat: impl run plugins by steps
  packages/pack/kernel.ts
  packages/pack/wrapToPromise.ts
Due: prettier --write, eslint --fix

feat: pass payload to hooks
  packages/pack/interfaces.ts
  packages/pack/kernel.ts
  packages/pack/wrapToPromise.ts
Due: prettier --write, eslint --fix

feat: impl CopyAssetsPlugin
  packages/pack/package-lock.json
  packages/pack/package.json
  packages/pack/plugins/CopyAssetsPlugin.ts
Due: prettier --write, eslint --fix, prettier --write --parser json

feat: pass output to payload
  packages/pack/interfaces.ts
  packages/pack/kernel.ts
Due: prettier --write, eslint --fix

feat: use fabric for instance CleanUpPlugin
  packages/pack/plugins/CleanUpPlugin.ts
Due: prettier --write, eslint --fix

feat: resolve from root context and output
  packages/pack/kernel.ts
Due: prettier --write, eslint --fix

feat: impl CssPlugin
  packages/pack/package-lock.json
  packages/pack/package.json
  packages/pack/plugins/CssPlugin.ts
Due: prettier --write, eslint --fix, prettier --write --parser json

feat: impl TypeScriptPlugin
  packages/pack/plugins/TypeScriptPlugin.ts
Due: prettier --write, eslint --fix

fix: use output as fallback forr to
  packages/pack/plugins/CopyAssetsPlugin.ts
Due: prettier --write, eslint --fix

feat: use fabric for CopyAssetsPlugin
  packages/pack/plugins/CopyAssetsPlugin.ts
Due: prettier --write, eslint --fix

chore: add oclif for cli
  packages/pack/package-lock.json
  packages/pack/package.json
Due: prettier --write --parser json

chore: remove from sources from root
  packages/pack/interfaces.ts
  packages/pack/kernel.ts
  packages/pack/plugins/CleanUpPlugin.ts
  packages/pack/plugins/CopyAssetsPlugin.ts
  packages/pack/plugins/CssPlugin.ts
  packages/pack/plugins/TypeScriptPlugin.ts
  packages/pack/wrapToPromise.ts
Due: prettier --write, eslint --fix

chore: add tsconfig
  packages/pack/tsconfig.json
Due: prettier --write --parser json

chore: exclude lib from git
  packages/pack/.gitignore
Due: none

feat: add cli for build
  packages/pack/oclif.manifest.json
Due: prettier --write --parser json

feat: add CleanUpPlugin
  packages/pack/src/plugins/CleanUpPlugin.ts
Due: prettier --write, eslint --fix

feat: add CleanUpPlugin
  packages/pack/src/plugins/CopyAssetsPlugin.ts
Due: prettier --write, eslint --fix

fix: generate declarations for build
  packages/pack/tsconfig.json
Due: prettier --write --parser json

chore: add debug lib
  packages/pack/package-lock.json
  packages/pack/package.json
  packages/pack/src/debug.ts
Due: prettier --write, eslint --fix, prettier --write --parser json

feat: add context for CopyAssetsPlugin
  packages/pack/src/plugins/CopyAssetsPlugin.ts
Due: prettier --write, eslint --fix

feat: add debug marks for CopyAssetsPlugin
  packages/pack/src/plugins/CopyAssetsPlugin.ts
Due: prettier --write, eslint --fix

feat: add debug marks for CleanUpPlugin
  packages/pack/src/plugins/CleanUpPlugin.ts
Due: prettier --write, eslint --fix

refactor: rename Payload type to HookOptions
  packages/pack/src/plugins/CopyAssetsPlugin.ts
Due: prettier --write, eslint --fix

feat: add steps progress
  packages/pack/package-lock.json
  packages/pack/package.json
  packages/pack/src/Progress.ts
Due: prettier --write, eslint --fix, prettier --write --parser json

fix: rename step for CleanUpPlugin marks
  packages/pack/src/plugins/CleanUpPlugin.ts
Due: prettier --write, eslint --fix

feat: impl CssPlugin
  packages/pack/src/plugins/CssPlugin.ts
Due: prettier --write, eslint --fix

feat: impl TypeScriptPlugin
  packages/pack/src/plugins/TypeScriptPlugin.ts
Due: prettier --write, eslint --fix

feat: add multiply output for CopyAssetsPlugin
  packages/pack/src/plugins/CopyAssetsPlugin.ts
Due: prettier --write, eslint --fix

chore: exclude oclif manifest from git
  packages/pack/.gitignore
  packages/pack/oclif.manifest.json
Due: prettier --write --parser json

docs: add readme with usage
  packages/pack/README.md
Due: prettier --write --parser markdown

refactor: rename bin compack to pack
  packages/pack/bin/pack
  packages/pack/package.json
Due: prettier --write --parser json

chore: add jsdoc for plugins options
  packages/pack/src/plugins/CleanUpPlugin.ts
  packages/pack/src/plugins/CopyAssetsPlugin.ts
  packages/pack/src/plugins/CssPlugin.ts
  packages/pack/src/plugins/TypeScriptPlugin.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: *.{js,ts,tsx}
  eslint --fix: any of: *.{js,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
