Repository bem/bem-react: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, prettier --write --parser markdown, prettier --write --parser json

chore(release): publish
  packages/pack/CHANGELOG.md
  packages/pack/package-lock.json
  packages/pack/package.json
Due: prettier --write --parser markdown, prettier --write --parser json

fix(di): fixed merge of registries with same id
  packages/di/di.tsx
  packages/di/test/di.test.tsx
Due: prettier --write, eslint --fix

chore(release): publish
  packages/di/CHANGELOG.md
  packages/di/package-lock.json
  packages/di/package.json
Due: prettier --write --parser markdown, prettier --write --parser json

docs: fix typo for MyPlugin
  packages/pack/README.md
Due: prettier --write --parser markdown

feat: pack – multiple config output
  packages/pack/src/Progress.ts
  packages/pack/src/build.ts
  packages/pack/src/cli/build.ts
  packages/pack/src/interfaces.ts
  packages/pack/src/loadConfig.ts
Due: prettier --write, eslint --fix

fix(core): use ref forwarding in withBemMod
  packages/core/core.ts
  packages/core/test/withBemMod.test.tsx
Due: prettier --write, eslint --fix

chore(core): fix withBemMod typings error
  packages/core/core.ts
Due: prettier --write, eslint --fix

chore(release): publish
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: prettier --write --parser markdown, prettier --write --parser json

feat: wepack exp plugin
  packages/webpack-exp-plugin/Readme.md
  packages/webpack-exp-plugin/index.js
  packages/webpack-exp-plugin/package-lock.json
  packages/webpack-exp-plugin/package.json
  packages/webpack-exp-plugin/replacer.js
  packages/webpack-exp-plugin/replacer.test.js
Due: prettier --write, eslint --fix, prettier --write --parser markdown, prettier --write --parser json

fix: added *.js to tests scope
  .config/jest/jest.config.js
  .eslintrc
Due: prettier --write, eslint --fix

chore: init package
  packages/feature-flags-webpack-plugin/.gitignore
  packages/feature-flags-webpack-plugin/README.md
  packages/feature-flags-webpack-plugin/package-lock.json
  packages/feature-flags-webpack-plugin/package.json
  packages/feature-flags-webpack-plugin/src/index.ts
  packages/feature-flags-webpack-plugin/tsconfig.json
Due: prettier --write, eslint --fix, prettier --write --parser markdown, prettier --write --parser json

chore: add @types/webpack deps
  packages/feature-flags-webpack-plugin/package-lock.json
  packages/feature-flags-webpack-plugin/package.json
Due: prettier --write --parser json

feat: impl FeatureFlagsWebpackPlugin
  packages/feature-flags-webpack-plugin/src/index.ts
Due: prettier --write, eslint --fix

build: include only src dir for ts
  packages/feature-flags-webpack-plugin/tsconfig.json
Due: prettier --write --parser json

chore: prepare pgk for publish
  packages/feature-flags-webpack-plugin/package-lock.json
  packages/feature-flags-webpack-plugin/package.json
Due: prettier --write --parser json

chore: fix eslint no-use-before-define
  .eslintrc
Due: none

chore: infra for units
  packages/feature-flags-webpack-plugin/__tests__/__internal__/compiler.ts
  packages/feature-flags-webpack-plugin/__tests__/index.test.ts
  packages/feature-flags-webpack-plugin/package-lock.json
  packages/feature-flags-webpack-plugin/package.json
Due: prettier --write, eslint --fix, prettier --write --parser json

refactor: separate cb hell to fns
  packages/feature-flags-webpack-plugin/src/index.ts
Due: prettier --write, eslint --fix

chore: use type-cast for required options
  packages/feature-flags-webpack-plugin/src/index.ts
Due: prettier --write, eslint --fix

chore: setup jest config for js files
  .config/jest/jest.config.js
Due: prettier --write, eslint --fix

test: add units for FeatureFlagsWebpackPlugin
  packages/feature-flags-webpack-plugin/__tests__/__internal__/compiler.ts
  packages/feature-flags-webpack-plugin/__tests__/fixtures/component-a.js
  packages/feature-flags-webpack-plugin/__tests__/fixtures/component-b.js
  packages/feature-flags-webpack-plugin/__tests__/fixtures/features.js
  packages/feature-flags-webpack-plugin/__tests__/index.test.ts
  packages/feature-flags-webpack-plugin/__tests__/internal/compiler.ts
  packages/feature-flags-webpack-plugin/__tests__/internal/getResult.ts
Due: prettier --write, eslint --fix

fix: fix setting default options
  packages/feature-flags-webpack-plugin/src/index.ts
Due: prettier --write, eslint --fix

test: add unit for isFeatureEnabledFnName case
  packages/feature-flags-webpack-plugin/__tests__/fixtures/component-c.js
  packages/feature-flags-webpack-plugin/__tests__/fixtures/features.js
  packages/feature-flags-webpack-plugin/__tests__/index.test.ts
Due: prettier --write, eslint --fix

chore: fix ts issue for any type
  packages/feature-flags-webpack-plugin/__tests__/internal/compiler.ts
  packages/feature-flags-webpack-plugin/src/index.ts
Due: prettier --write, eslint --fix

wip
  package.json
Due: prettier --write --parser json

Revert withBemMod typings to 3.0.1
  packages/core/core.ts
  packages/core/test/withBemMod.test.tsx
Due: prettier --write, eslint --fix

chore(release): publish
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/webpack-exp-plugin/CHANGELOG.md
  packages/webpack-exp-plugin/package-lock.json
  packages/webpack-exp-plugin/package.json
Due: prettier --write --parser markdown, prettier --write --parser json

Replace ReactType (deprecated) to ElementType
  packages/core/README.md
Due: prettier --write --parser markdown

chore: remove ora and add update-log
  packages/pack/package-lock.json
  packages/pack/package.json
Due: prettier --write --parser json

chore: add name for all plugins
  packages/pack/src/interfaces.ts
  packages/pack/src/plugins/CleanUpPlugin.ts
  packages/pack/src/plugins/CopyAssetsPlugin.ts
  packages/pack/src/plugins/CssPlugin.ts
  packages/pack/src/plugins/TypeScriptPlugin.ts
  packages/pack/src/progress.ts
Due: prettier --write, eslint --fix

refactor: use stdout module instead log
  packages/pack/src/loadConfig.ts
  packages/pack/src/log.ts
  packages/pack/src/stdout.ts
Due: prettier --write, eslint --fix

chore: disable a few rules for eslint
  packages/pack/.eslintrc
Due: none

fix: catch errors from wrapToPromise
  packages/pack/src/wrapToPromise.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: *.{js,ts,tsx}
  eslint --fix: any of: *.{js,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
