Repository bem/bem-react: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, prettier --write --parser markdown, prettier --write --parser json

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "prettier --write",
    "git add"
  ],
  "*.md": [
    "prettier --write --parser markdown",
    "git add"
  ],
  "*.json": [
    "prettier --write --parser json",
    "git add"
  ]
}

docs(eslint-plugin): update common readme.md
  packages/eslint-plugin/README.md
Due: prettier --write --parser markdown

fix(eslint-plugin): case for destructuring
  packages/eslint-plugin/lib/rules/no-classname-runtime.js
  packages/eslint-plugin/tests/lib/rules/no-classname-runtime.js
Due: prettier --write

chore(release): publish
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
Due: prettier --write --parser markdown, prettier --write --parser json

Updates
  classes/registry.html
  globals.html
  index.html
  interfaces/iclassnameprops.html
  interfaces/icomponentregistryconsumerprops.html
  interfaces/ipreset.html
  interfaces/iregistryoptions.html
Due: none

feat(di): fill registry with components via object literal
  packages/di/README.md
  packages/di/di.tsx
  packages/di/test/di.test.tsx
Due: prettier --write, prettier --write --parser markdown

wip
  translated_docs/ru/api/classname/cn.md
  translated_docs/ru/api/classname/withNaming.md
  translated_docs/ru/api/classnames/classnames.md
  translated_docs/ru/api/core/compose.md
  translated_docs/ru/api/core/withBemMod.md
  translated_docs/ru/guides/classname.md
  translated_docs/ru/guides/modifier.md
  translated_docs/ru/introduction/installation.md
  website/pages/en/index.js
  website/siteConfig.js
Due: prettier --write, prettier --write --parser markdown

wip
  docs/FAQ.md
  docs/api/classname/api-reference2.md
  docs/api/classnames/api-reference23.md
  docs/api/classnames/classnames.md
  docs/api/core/api-reference44.md
  docs/api/di/api-reference11.md
  docs/api/di/withRegistry.md
  docs/glossary.md
  docs/guides/classname.md
  docs/guides/common.md
  docs/guides/modifier.md
  packages/classname/classname.tsx
  packages/classnames/classnames.tsx
  website/core/Footer.js
  website/i18n/en.json
  website/languages.js
  website/pages/en/index.js
  website/sidebars.json
  website/siteConfig.js
  website/static/.DS_Store
  website/static/css/custom.css
  website/static/img/bem-react-logo.svg
Due: prettier --write, prettier --write --parser markdown, prettier --write --parser json

Fixed typo
  packages/core/test/withBemMod.test.tsx
Due: prettier --write

chore(release): publish
  packages/di/CHANGELOG.md
  packages/di/package.json
Due: prettier --write --parser markdown, prettier --write --parser json

Updates
  assets/js/search.js
  classes/registry.html
  globals.html
  index.html
  interfaces/iclassnameprops.html
  interfaces/icomponentregistryconsumerprops.html
  interfaces/ipreset.html
  interfaces/iregistryoptions.html
Due: prettier --write

feat(di): Add withBase-hoc as a way of extending components
  packages/di/di.tsx
  packages/di/test/di.test.tsx
Due: prettier --write

chore(di): update README.md
  packages/di/README.md
Due: prettier --write --parser markdown

fixup! feat(di): Add withBase-hoc as a way of extending components
  packages/di/di.tsx
  packages/di/test/di.test.tsx
Due: prettier --write

fixup! fixup! feat(di): Add withBase-hoc as a way of extending components
  packages/di/di.tsx
  packages/di/test/di.test.tsx
Due: prettier --write

Update README.md
  packages/di/README.md
Due: prettier --write --parser markdown

fix(di): Add errors when base component is empty for extending component
  packages/di/di.tsx
  packages/di/package-lock.json
  packages/di/package.json
  packages/di/test/di.test.tsx
Due: prettier --write, prettier --write --parser json

chore(release): publish
  packages/di/CHANGELOG.md
  packages/di/package-lock.json
  packages/di/package.json
Due: prettier --write --parser markdown, prettier --write --parser json

chore: add docusaurus for docs
  website/.gitignore
  website/.npmrc
  website/README.md
  website/docs/api/classname/classname.md
  website/docs/api/classnames/classnames.md
  website/docs/api/core/compose.md
  website/docs/api/core/core.md
  website/docs/api/di/di.md
  website/docs/guides/start.md
  website/docs/introduction/installation.md
  website/docusaurus.config.js
  website/package.json
  website/sidebars.js
  website/src/css/custom.css
  website/src/pages/index.js
  website/src/pages/styles.module.css
  website/static/img/favicon.ico
  website/static/img/logo.svg
Due: prettier --write, prettier --write --parser markdown, prettier --write --parser json

chore: remove typedoc and publish old site
  package.json
Due: prettier --write --parser json

chore: remove symlinks for md
  CONTRIBUTING.md
  CONTRIBUTING.ru.md
  LICENSE.md
  LICENSE.ru.txt
  LICENSE.txt
  README.md
  README.ru.md
  docs/LANGS.md
  docs/en/CONTRIBUTING.md
  docs/en/README.md
  docs/en/book.json
  docs/ru/CONTRIBUTING.md
  docs/ru/Introduction/Motivation.md
  docs/ru/LICENSE.txt
  docs/ru/README.md
  docs/ru/book.json
Due: prettier --write --parser markdown, prettier --write --parser json

chore: remove version from root monorepo
  package.json
Due: prettier --write --parser json

Deploy website version based on 4f93ce36e1beb0b57e422397e7fb0adcd157577a
  .DS_Store
  04d7397b.252f0221.js
  04d7397b.7eac6502.js
  15a81e36.2eab0a98.js
  15a81e36.b4b90469.js
  1cc93ead.b680a89d.js
  1cc93ead.bcfb9711.js
  20ac7829.eafea1e5.js
  404.html
  68115ce4.e395df69.js
  68115ce4.ff8080af.js
  8b8ae39f.9fda78ba.js
  a9eee653.0bab67cd.js
  a9eee653.e6eca698.js
  ac68e5b7.7f956958.js
  ac68e5b7.d5ffe9f8.js
  docs/api/classname/classname/index.html
  docs/api/classnames/classnames/index.html
  docs/api/core/compose/index.html
  docs/api/core/core/index.html
  docs/api/di/di/index.html
  docs/guides/start/index.html
  docs/introduction/installation/index.html
  ecda1b29.0e8230a7.js
  ecda1b29.e6bbb4f4.js
  index.html
  main.ece5a95a.js
  main.ff3f86e9.js
  main.ff3f86e9.js.LICENSE
  runtime~main.e24666d4.js
  runtime~main.e598ffb5.js
  server.bundle.js
  sitemap.xml
Due: prettier --write

chore: fix urls for website
  website/docusaurus.config.js
Due: prettier --write
