Repository bem/bem-react: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, prettier --write --parser markdown, prettier --write --parser json

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "prettier --write",
    "eslint --fix",
    "git add"
  ],
  "*.md": [
    "prettier --write --parser markdown",
    "git add"
  ],
  "*.json": [
    "prettier --write --parser json",
    "git add"
  ]
}

chore(release): publish
  packages/pack/package.json
Due: prettier --write --parser json

chore: add lib folder for eslintignore
  .eslintignore
Due: none

fix: add pkg with sideEffects for esm build
  packages/pack/src/plugins/TypeScriptPlugin.ts
Due: prettier --write, eslint --fix

chore(release): publish
  packages/pack/CHANGELOG.md
  packages/pack/package-lock.json
  packages/pack/package.json
Due: prettier --write --parser markdown, prettier --write --parser json

fix: use wildcard for css sideeffects
  packages/pack/src/plugins/TypeScriptPlugin.ts
Due: prettier --write, eslint --fix

fix: extends sideEffects for platforms
  packages/pack/src/plugins/TypeScriptPlugin.ts
Due: prettier --write, eslint --fix

chore(pack): fix typos
  packages/pack/src/Progress.ts
  packages/pack/src/build.ts
  packages/pack/src/debug.ts
Due: prettier --write, eslint --fix

fix(pack): support async postcss plugins
  packages/pack/src/plugins/CssPlugin.ts
Due: prettier --write, eslint --fix

docs: update Plugin interface
  packages/pack/README.md
Due: prettier --write --parser markdown

chore: update typings for jest and enzyme
  package.json
Due: prettier --write --parser json

feat: add hook for create sideEffects
  packages/pack/src/plugins/TypeScriptPlugin.ts
Due: prettier --write, eslint --fix

docs: update readme with TypescriptPlugin
  packages/pack/README.md
Due: prettier --write --parser markdown

fix: allow boolean type for sideEffects
  packages/pack/src/plugins/TypeScriptPlugin.ts
Due: prettier --write, eslint --fix

docs: update Options for TypeScriptPlugin
  packages/pack/README.md
Due: prettier --write --parser markdown

fix: use js ext for resolve default config
  packages/pack/src/cli/build.ts
Due: prettier --write, eslint --fix

fix: use default value for options
  packages/pack/src/plugins/TypeScriptPlugin.ts
Due: prettier --write, eslint --fix

fix: add formatting for result package.json
  packages/pack/src/plugins/TypeScriptPlugin.ts
Due: prettier --write, eslint --fix

feat: impl replace content for TypeScriptPlugin
  packages/pack/src/plugins/TypeScriptPlugin.ts
Due: prettier --write, eslint --fix

docs: update docs for TypeScriptPlugin
  packages/pack/README.md
Due: prettier --write --parser markdown
