Repository bem/bem-react: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, prettier --write --parser markdown, prettier --write --parser json

chore(core):removed unused generics, added extra ones
  packages/core/core.ts
  packages/core/test/withBemMod.test.tsx
Due: prettier --write, eslint --fix

chore(core):removed unused generics
  packages/core/core.ts
  packages/core/test/withBemMod.test.tsx
Due: prettier --write, eslint --fix

ci: add pr as trigger for run checking
  .github/workflows/ci.yml
Due: none

chore(core): removed unused generics
  packages/core/core.ts
Due: prettier --write, eslint --fix

test(core): added test for caching of withBemMod return function (#409)
  packages/core/test/withBemMod.test.tsx
Due: prettier --write, eslint --fix

test(core): added test for issue #407
  packages/core/core.ts
Due: prettier --write, eslint --fix

fix(di): resolve #551 issue
  packages/di/di.tsx
Due: prettier --write, eslint --fix

chore(release): publish
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/di/CHANGELOG.md
  packages/di/package-lock.json
  packages/di/package.json
Due: prettier --write --parser markdown, prettier --write --parser json

Update README.md
  packages/classname/README.md
Due: prettier --write --parser markdown

docs(classname): add mixes
  packages/classname/README.md
Due: prettier --write --parser markdown

refactor(core): made compose into independent file and re-exported it
  packages/core/compose.d.ts
  packages/core/compose.ts
  packages/core/core.ts
Due: prettier --write, eslint --fix

refactor(core): made compose into independent file and re-exported it
  packages/core/.gitignore
  packages/core/compose.ts
  packages/core/core.ts
Due: prettier --write, eslint --fix

fix: composeU - deep union for properties
  packages/core/core.ts
Due: prettier --write, eslint --fix

chore(release): publish
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: prettier --write --parser markdown, prettier --write --parser json

docs(classname): add mixes
  packages/core/core.ts
  packages/core/test/withBemMod.test.tsx
Due: prettier --write, eslint --fix

<test>[core]: Trying to fix with Required
  packages/core/test/withBemMod.test.tsx
Due: prettier --write, eslint --fix

chore(core): fix typo in tests
  packages/core/test/compose.test.tsx
Due: prettier --write, eslint --fix

fix(classname): add default modifier delimiter
  packages/classname/classname.ts
  packages/classname/test/classname.test.ts
Due: prettier --write, eslint --fix

fix: simple mods optimization in compose
  packages/core/core.ts
  packages/core/test/compose.test.tsx
Due: prettier --write, eslint --fix

fix: don't pass mod props to component
  packages/core/core.ts
  packages/core/test/compose.test.tsx
Due: prettier --write, eslint --fix

chore: update doc
  packages/core/README.md
Due: prettier --write --parser markdown

fixup! fix: don't pass mod props to component
  packages/core/core.ts
Due: prettier --write, eslint --fix

feat: simple mods optimization in compose
  packages/core/core.ts
  packages/core/test/compose.test.tsx
Due: prettier --write, eslint --fix

feat: don't pass mod props to component
  packages/core/core.ts
  packages/core/test/compose.test.tsx
Due: prettier --write, eslint --fix

fix: boolean mods createClassNameModfifier
  packages/core/core.ts
  packages/core/test/compose.test.tsx
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: *.{js,ts,tsx}
  eslint --fix: any of: *.{js,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
