Repository bem/bem-react: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, prettier --write --parser markdown, prettier --write --parser json

refactor: use testing-library instead of enzyme
  .config/jest/jest.setup.js
  package.json
  packages/core/test/compose.test.tsx
  packages/core/test/withBemMod.test.tsx
  packages/di/di.tsx
  packages/di/test/di.test.tsx
Due: prettier --write, eslint --fix, prettier --write --parser json

fix: missing dep
  package.json
Due: prettier --write --parser json

fix: use jsdom
  .config/jest/jest.config.js
Due: prettier --write, eslint --fix

fix: use jsdom
  package.json
Due: prettier --write --parser json

fix: types
  packages/di/di.tsx
Due: prettier --write, eslint --fix

refactor: up deps
  .github/workflows/ci.yml
Due: none

refactor: up oclif
  packages/pack/bin/pack
  packages/pack/package-lock.json
  packages/pack/package.json
  packages/pack/src/cli/build.ts
  packages/pack/src/loadConfig.ts
  packages/pack/src/plugins/BabelTypeScriptPlugin.ts
  packages/pack/src/plugins/TypeScriptPlugin.ts
Due: prettier --write, eslint --fix, prettier --write --parser json

refactor: use wagoid/commitlint-github-action
  .github/workflows/ci.yml
  scripts/commitlint.js
Due: prettier --write, eslint --fix

fix: update commitlint
  .github/workflows/ci.yml
  package.json
Due: prettier --write --parser json

fix: fetch all history in GHA
  .github/workflows/ci.yml
Due: none

fix: try to avoid "ambiguous argument origin/master..HEAD"
  scripts/commitlint.js
Due: prettier --write, eslint --fix

refactor: up typescript
  package.json
Due: prettier --write --parser json

fix: inc line width
  .editorconfig
  .eslintrc
Due: none

refactor: bump versions
  package.json
Due: prettier --write --parser json

refactor: up deps
  package.json
Due: prettier --write --parser json

feat: update to react@18
  package.json
  packages/core/core.ts
  packages/core/package.json
  packages/core/test/compose.test.tsx
  packages/di/package.json
  packages/di/test/di.test.tsx
Due: prettier --write, eslint --fix, prettier --write --parser json

refactor: use npx commitlint
  .github/workflows/ci.yml
Due: none

chore(release): publish
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/di/CHANGELOG.md
  packages/di/package-lock.json
  packages/di/package.json
  packages/pack/CHANGELOG.md
  packages/pack/package-lock.json
  packages/pack/package.json
Due: prettier --write --parser markdown, prettier --write --parser json

feat: allow mix to be a string
  packages/classname/classname.ts
  packages/classname/test/classname.test.ts
Due: prettier --write, eslint --fix

chore(release): publish
  packages/classname/CHANGELOG.md
  packages/classname/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: prettier --write --parser markdown, prettier --write --parser json

docs: fix typo in readme
  packages/core/README.md
Due: prettier --write --parser markdown

feat: impl ts resolve alias plugin
  packages/pack/package-lock.json
  packages/pack/package.json
  packages/pack/src/plugins/TypeScriptResolvePlugin.ts
Due: prettier --write, eslint --fix, prettier --write --parser json

chore(release): publish
  packages/pack/CHANGELOG.md
  packages/pack/package-lock.json
  packages/pack/package.json
Due: prettier --write --parser markdown, prettier --write --parser json

feat: add dual packaging
  .eslintrc
  package.json
  packages/classname/index.cjs
  packages/classname/index.js
  packages/classname/package.json
  packages/classnames/index.cjs
  packages/classnames/index.js
  packages/classnames/package.json
  packages/core/index.cjs
  packages/core/index.js
  packages/core/package.json
  packages/di/index.cjs
  packages/di/package.json
  scripts/rollup/build.js
Due: prettier --write, eslint --fix, prettier --write --parser json

fix(classname): fix zero mod value bug
  packages/classname/classname.ts
  packages/classname/test/classname.test.ts
Due: prettier --write, eslint --fix

feat: support esm modules
  packages/classname/index.cjs
  packages/classname/package.json
  packages/classnames/index.cjs
  packages/classnames/package.json
  packages/core/index.cjs
  packages/core/package.json
  packages/di/index.cjs
  packages/di/package.json
  scripts/rollup/build.js
  scripts/rollup/terser.config.js
Due: prettier --write, eslint --fix, prettier --write --parser json

chore(release): publish
  packages/classname/CHANGELOG.md
  packages/classname/package.json
  packages/classnames/CHANGELOG.md
  packages/classnames/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/di/CHANGELOG.md
  packages/di/package-lock.json
  packages/di/package.json
Due: prettier --write --parser markdown, prettier --write --parser json

fix(eslint-plugin): support Object.prototype attribute-named files
  packages/eslint-plugin/lib/rules/whitelist-levels-imports.js
  packages/eslint-plugin/tests/lib/rules/whitelist-levels-imports.js
Due: prettier --write, eslint --fix

fix: set booleans_as_integers to false in terser config
  scripts/rollup/terser.config.js
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: *.{js,ts,tsx}
  eslint --fix: any of: *.{js,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
