Repository bem/bem-react: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, prettier --write --parser markdown, prettier --write --parser json

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "prettier --write",
    "git add"
  ],
  "*.md": [
    "prettier --write --parser markdown",
    "git add"
  ],
  "*.json": [
    "prettier --write --parser json",
    "git add"
  ]
}

refactor(classname): rename IPreset to Preset
  packages/classname/classname.tsx
Due: prettier --write

chore: use github theme for prsim
  website/docusaurus.config.js
Due: prettier --write

chore(website): add links to sidebar
  website/sidebars.js
Due: prettier --write

docs: add docs for classname
  website/docs/api/classname/ClassNameFormatter.md
  website/docs/api/classname/ClassNameInitilizer.md
  website/docs/api/classname/Preset.md
  website/docs/api/classname/classname.md
  website/docs/api/classname/cn.md
  website/docs/api/classname/withNaming.md
Due: prettier --write --parser markdown

docs: add docs for installation
  website/docs/introduction/installation.md
Due: prettier --write --parser markdown

style(classnames): fix jsdoc
  packages/classnames/classnames.tsx
Due: prettier --write

chore(website): use other name for api-reference
  website/docs/api/classname/api.md
  website/sidebars.js
Due: prettier --write, prettier --write --parser markdown

docs: add docs for classnames
  website/docs/api/classnames/api.md
  website/docs/api/classnames/classnames.md
  website/sidebars.js
Due: prettier --write, prettier --write --parser markdown

docs: add structure example
  website/docs/api/di/api.md
  website/docs/guides/experiments.md
  website/docs/guides/lazy.md
  website/docs/guides/naming.md
  website/docs/guides/structure.md
  website/sidebars.js
Due: prettier --write, prettier --write --parser markdown

docs: installation -> quick start
  website/docs/introduction/quick-start.md
Due: prettier --write --parser markdown

docs: lazy modifiers
  website/docs/guides/lazy.md
Due: prettier --write --parser markdown

ci: add missing eslint in dev deps
  package.json
Due: prettier --write --parser json

build: add build for ts ext
  scripts/rollup/build.js
Due: prettier --write

chore(classnames): change ext from tsx to ts
  packages/classnames/classnames.ts
Due: prettier --write

style: fix code-style
  packages/classname/classname.tsx
  packages/di/di.tsx
Due: prettier --write

chore: fix typo EnahncedComponent -> EnhancedComponent
  packages/core/test/compose.test.tsx
Due: prettier --write

chore: cross-platform development
  package.json
  packages/classname/package.json
  packages/classnames/package.json
  packages/core/package.json
  packages/di/package.json
  scripts/rollup/build.js
Due: prettier --write, prettier --write --parser json

fix(core): set modifiers conditionally
  packages/core/core.tsx
  packages/core/test/compose.test.tsx
Due: prettier --write

fix(core): set modifiers conditionally only for simple modifiers
  packages/core/core.tsx
  packages/core/test/compose.test.tsx
Due: prettier --write

perf(di): improving performance
  packages/di/di.tsx
Due: prettier --write

fix(core): pass blockName function into withBemMod
  packages/core/core.tsx
Due: prettier --write

ci: add gh workflows instead travis
  .github/workflows/test.yml
  .travis.yml
Due: none
