Repository bem/bem-react: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, prettier --write --parser markdown, prettier --write --parser json

feat(di): make di able to keep anything
  packages/di/README.md
  packages/di/di.tsx
  packages/di/test/di.test.tsx
Due: prettier --write, eslint --fix, prettier --write --parser markdown

chore(release): publish
  packages/di/CHANGELOG.md
  packages/di/package-lock.json
  packages/di/package.json
Due: prettier --write --parser markdown, prettier --write --parser json

feat(pack): impl usePackageJsonPlugin plugin
  packages/pack/README.md
  packages/pack/src/plugins/PackageJsonPlugin.ts
Due: prettier --write, eslint --fix, prettier --write --parser markdown

feat(pack): remove replace option
  packages/pack/README.md
  packages/pack/src/plugins/TypeScriptPlugin.ts
Due: prettier --write, eslint --fix, prettier --write --parser markdown

chore(release): publish
  packages/pack/CHANGELOG.md
  packages/pack/package-lock.json
  packages/pack/package.json
Due: prettier --write --parser markdown, prettier --write --parser json

feat(di): rename ComponentRegistryConsumer to RegistryConsumer
  packages/di/README.md
  packages/di/di.tsx
  packages/di/test/di.test.tsx
Due: prettier --write, eslint --fix, prettier --write --parser markdown

fix(pack): update fast-glob from 3.2.4 to 3.2.5
  packages/pack/package-lock.json
  packages/pack/package.json
Due: prettier --write --parser json

chore(release): publish
  packages/di/CHANGELOG.md
  packages/di/package-lock.json
  packages/di/package.json
  packages/pack/CHANGELOG.md
  packages/pack/package-lock.json
  packages/pack/package.json
Due: prettier --write --parser markdown, prettier --write --parser json

test(di): refactor and complete test cases
  packages/di/test/di.test.tsx
Due: prettier --write, eslint --fix

fix(di): fix partial merge of registries
  packages/di/di.tsx
  packages/di/test/di.test.tsx
Due: prettier --write, eslint --fix

feat(classname): add support for arrays as modifier values
  packages/classname/README.md
  packages/classname/classname.ts
  packages/classname/test/classname.test.ts
Due: prettier --write, eslint --fix, prettier --write --parser markdown

fix(classname): add correct overloads for cn formatter
  packages/classname/classname.ts
Due: prettier --write, eslint --fix

fix(pack): remove unused replace option
  packages/pack/src/plugins/TypeScriptPlugin.ts
Due: prettier --write, eslint --fix

feat(pack): impl BabelTypeScriptPlugin plugin
  packages/pack/package-lock.json
  packages/pack/package.json
  packages/pack/src/plugins/BabelTypeScriptPlugin.ts
Due: prettier --write, eslint --fix, prettier --write --parser json

feat(pack): call onAfterRun when process is interrupted
  packages/pack/src/build.ts
Due: prettier --write, eslint --fix

chore(release): publish
  packages/classname/CHANGELOG.md
  packages/classname/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/pack/CHANGELOG.md
  packages/pack/package-lock.json
  packages/pack/package.json
Due: prettier --write --parser markdown, prettier --write --parser json

feat: update to react@18
  package.json
  packages/core/core.ts
  packages/core/package.json
  packages/core/test/compose.test.tsx
  packages/di/package.json
  packages/di/test/di.test.tsx
Due: prettier --write, eslint --fix, prettier --write --parser json

refactor: up deps
  package.json
Due: prettier --write --parser json

refactor: up deps
  .github/workflows/ci.yml
Due: none

fix: try to avoid "ambiguous argument origin/master..HEAD"
  scripts/commitlint.js
Due: prettier --write, eslint --fix

refactor: use wagoid/commitlint-github-action
  .github/workflows/ci.yml
  scripts/commitlint.js
Due: prettier --write, eslint --fix

refactor: use npx commitlint
  .github/workflows/ci.yml
Due: none

fix: fetch all history in GHA
  .github/workflows/ci.yml
Due: none

fix: update commitlint
  .github/workflows/ci.yml
  package.json
Due: prettier --write --parser json

refactor: up typescript
  package.json
Due: prettier --write --parser json

refactor: up oclif
  packages/pack/bin/pack
  packages/pack/package-lock.json
  packages/pack/package.json
  packages/pack/src/cli/build.ts
  packages/pack/src/loadConfig.ts
  packages/pack/src/plugins/BabelTypeScriptPlugin.ts
  packages/pack/src/plugins/TypeScriptPlugin.ts
Due: prettier --write, eslint --fix, prettier --write --parser json

fix: inc line width
  .editorconfig
  .eslintrc
Due: none

refactor: bump versions
  package.json
Due: prettier --write --parser json

fix: types
  packages/di/di.tsx
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: *.{js,ts,tsx}
  eslint --fix: any of: *.{js,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
