Repository bem/bem-react: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, prettier --write --parser markdown, prettier --write --parser json

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "prettier --write",
    "git add"
  ],
  "*.md": [
    "prettier --write --parser markdown",
    "git add"
  ],
  "*.json": [
    "prettier --write --parser json",
    "git add"
  ]
}

chore: add lint-staged hooks
  .huskyrc
  .lintstagedrc
  package.json
Due: prettier --write --parser json

chore: add prettier
  .editorconfig
  .prettierrc
  package.json
Due: prettier --write --parser json

fixup! style: format by prettier
  lerna.json
  packages/classname/package.json
  packages/classname/tsconfig.json
  packages/classnames/package.json
  packages/classnames/tsconfig.json
  packages/core/package.json
  packages/core/tsconfig.json
  packages/di/package.json
  packages/di/tsconfig.json
  tsconfig.json
  tslint.json
Due: prettier --write --parser json

style: format by prettier
  .commitlintrc.json
  docs/en/README.md
  environment.d.ts
  enzyme.config.js
  mocha.config.js
  packages/classname/README.md
  packages/classname/classname.tsx
  packages/classname/index.js
  packages/classname/test/classname.test.ts
  packages/classname/tsconfig.json
  packages/classnames/README.md
  packages/classnames/classnames.tsx
  packages/classnames/index.js
  packages/classnames/test/classnames.test.ts
  packages/classnames/tsconfig.json
  packages/core/README.md
  packages/core/core.tsx
  packages/core/index.js
  packages/core/test/compose.test.tsx
  packages/core/test/withBemMod.test.tsx
  packages/core/tsconfig.json
  packages/di/README.md
  packages/di/di.tsx
  packages/di/index.js
  packages/di/test/di.test.tsx
  packages/di/tsconfig.json
  packages/eslint-plugin/README.md
  packages/eslint-plugin/index.js
  packages/eslint-plugin/lib/rules/whitelist-levels-imports.js
  packages/eslint-plugin/tests/lib/rules/whitelist-levels-imports.js
  scripts/rollup/build.js
  tsconfig.json
  tslint.json
  typedoc.js
Due: prettier --write, prettier --write --parser markdown, prettier --write --parser json

fix(eslint-plugin): update eslint dependency
  packages/eslint-plugin/package.json
  packages/eslint-plugin/tests/lib/rules/whitelist-levels-imports.js
Due: prettier --write, prettier --write --parser json

chore: fix tslint rules
  tslint.json
Due: prettier --write --parser json

There's no 'v' in IPreset
  packages/classname/README.md
Due: prettier --write --parser markdown

fix(core): exact prod dependencies
  packages/core/package.json
Due: prettier --write --parser json

chore: exact dev dependencies
  package.json
  packages/eslint-plugin/package.json
Due: prettier --write --parser json

docs(eslint-plugin): add badges
  docs/en/README.md
  packages/eslint-plugin/README.md
Due: prettier --write --parser markdown

Fix anchor links for Introduction – Motivation article
  docs/ru/Introduction/Motivation.md
Due: prettier --write --parser markdown

chore(release): publish
  packages/classname/CHANGELOG.md
  packages/classname/package.json
  packages/classnames/CHANGELOG.md
  packages/classnames/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/di/CHANGELOG.md
  packages/di/package.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
Due: prettier --write --parser markdown, prettier --write --parser json

Updates
  classes/registry.html
  globals.html
  index.html
  interfaces/iclassnameprops.html
  interfaces/icomponentregistryconsumerprops.html
  interfaces/ipreset.html
  interfaces/iregistryoptions.html
Due: none

chore: use exact for lerna
  lerna.json
Due: prettier --write --parser json

refactor(classname): use const instead let in for loop
  packages/classname/classname.tsx
Due: prettier --write

refactor(classnames): use bracket for if stmt
  packages/classnames/classnames.tsx
Due: prettier --write

chore(release): publish
  packages/classname/CHANGELOG.md
  packages/classname/package.json
  packages/classnames/CHANGELOG.md
  packages/classnames/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: prettier --write --parser markdown, prettier --write --parser json

test(core): add test for multiple withBemMod
  packages/core/test/withBemMod.test.tsx
Due: prettier --write

feat(eslint-plugin): added new plugin
  packages/eslint-plugin/docs/rules/no-classname-runtime.md
  packages/eslint-plugin/index.js
  packages/eslint-plugin/lib/rules/no-classname-runtime.js
  packages/eslint-plugin/tests/lib/rules/no-classname-runtime.js
Due: prettier --write, prettier --write --parser markdown

feat(eslint-plugin): review
  packages/eslint-plugin/docs/rules/no-classname-runtime.md
  packages/eslint-plugin/lib/rules/no-classname-runtime.js
Due: prettier --write, prettier --write --parser markdown

feat(eslint-plugin): fix reporting
  packages/eslint-plugin/lib/rules/no-classname-runtime.js
Due: prettier --write

chore(release): publish
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
Due: prettier --write --parser markdown, prettier --write --parser json

feat(di): fill registry with components via object literal
  packages/di/README.md
  packages/di/di.tsx
  packages/di/test/di.test.tsx
Due: prettier --write, prettier --write --parser markdown

fix(eslint-plugin): case for destructuring
  packages/eslint-plugin/lib/rules/no-classname-runtime.js
  packages/eslint-plugin/tests/lib/rules/no-classname-runtime.js
Due: prettier --write

docs(eslint-plugin): update common readme.md
  packages/eslint-plugin/README.md
Due: prettier --write --parser markdown
