Repository bem/bem-react: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, prettier --write --parser markdown, prettier --write --parser json

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "prettier --write",
    "eslint --fix",
    "git add"
  ],
  "*.md": [
    "prettier --write --parser markdown",
    "git add"
  ],
  "*.json": [
    "prettier --write --parser json",
    "git add"
  ]
}

feat: impl detailed log for building
  packages/pack/src/build.ts
  packages/pack/src/measurePerf.ts
  packages/pack/src/progress.ts
Due: prettier --write, eslint --fix

feat: add silent mode for output
  packages/pack/src/cli/build.ts
  packages/pack/src/interfaces.ts
Due: prettier --write, eslint --fix

chore: disable a few rules for eslint
  packages/pack/.eslintrc
Due: none

chore: remove ora and add update-log
  packages/pack/package-lock.json
  packages/pack/package.json
Due: prettier --write --parser json

refactor: use stdout module instead log
  packages/pack/src/loadConfig.ts
  packages/pack/src/log.ts
  packages/pack/src/stdout.ts
Due: prettier --write, eslint --fix

chore: add name for all plugins
  packages/pack/src/interfaces.ts
  packages/pack/src/plugins/CleanUpPlugin.ts
  packages/pack/src/plugins/CopyAssetsPlugin.ts
  packages/pack/src/plugins/CssPlugin.ts
  packages/pack/src/plugins/TypeScriptPlugin.ts
  packages/pack/src/progress.ts
Due: prettier --write, eslint --fix

fix: catch errors from wrapToPromise
  packages/pack/src/wrapToPromise.ts
Due: prettier --write, eslint --fix

chore(release): publish
  packages/pack/CHANGELOG.md
  packages/pack/package-lock.json
  packages/pack/package.json
Due: prettier --write --parser markdown, prettier --write --parser json

feat: fixed relative imports in scss
  packages/pack/src/plugins/CssPlugin.ts
Due: prettier --write, eslint --fix

feat: added esmOutput option to TypeScript plugin
  packages/pack/src/plugins/TypeScriptPlugin.ts
Due: prettier --write, eslint --fix

fix: move postcss to dev-deps
  packages/pack/package-lock.json
  packages/pack/package.json
Due: prettier --write --parser json

fix(classname): support mix via valueOf method
  packages/classname/classname.ts
  packages/classname/test/classname.test.ts
Due: prettier --write, eslint --fix

chore(release): publish
  packages/classname/CHANGELOG.md
  packages/classname/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: prettier --write --parser markdown, prettier --write --parser json

fix(di): typing array of elements for registry
  packages/di/di.tsx
Due: prettier --write, eslint --fix

chore: update to react@17
  .config/jest/jest.setup.js
  package.json
Due: prettier --write, eslint --fix, prettier --write --parser json

fix(core): supports react@17
  packages/core/package.json
Due: prettier --write --parser json

fix(di): supports react@17
  packages/di/package.json
Due: prettier --write --parser json

chore(release): publish
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/di/CHANGELOG.md
  packages/di/package-lock.json
  packages/di/package.json
Due: prettier --write --parser markdown, prettier --write --parser json

fix(classname): formatter type
  packages/classname/classname.ts
Due: prettier --write, eslint --fix

fix(build): fix minification issues in classname pkg
  scripts/rollup/terser.config.js
Due: prettier --write, eslint --fix

fix: update pkg
  packages/classname/package.json
  packages/classnames/package.json
  packages/core/package.json
  packages/di/package.json
Due: prettier --write --parser json

chore(release): publish
  packages/classname/CHANGELOG.md
  packages/classname/package.json
  packages/classnames/CHANGELOG.md
  packages/classnames/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/di/CHANGELOG.md
  packages/di/package-lock.json
  packages/di/package.json
Due: prettier --write --parser markdown, prettier --write --parser json

export IRegistryComponents type
  packages/di/di.tsx
Due: prettier --write, eslint --fix

replace IRegistryComponents with interface
  packages/di/di.tsx
Due: prettier --write, eslint --fix

fix(di): expose IRegistryComponents type
  packages/di/di.tsx
Due: prettier --write, eslint --fix

chore(release): publish
  packages/di/CHANGELOG.md
  packages/di/package-lock.json
  packages/di/package.json
Due: prettier --write --parser markdown, prettier --write --parser json

feat(di): make di able to keep anything
  packages/di/README.md
  packages/di/di.tsx
  packages/di/test/di.test.tsx
Due: prettier --write, eslint --fix, prettier --write --parser markdown
